<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% include 'head.html' %}
<head>
  <title>Account Settings</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="main">
        <div class="settingstitle">
            Account Settings
        </div>
        <div class="general">
                <form name="settingsform" action="../settingssubmit/" method="post"  enctype="multipart/form-data">
                    <div class="flex settings-container">
                        <div>
                            <div class="primary-info flex">
                                <div class="preview" style="background-image:url({{profile.image|cut:'memorylane'}})"></div>
                                <div class="primary-inputs">
                                    <input id="fname" type="text" name="fname" value="{{user.first_name}}" placeholder="First" />
                                    <input type="text" name="lname" value="{{user.last_name}}" placeholder="Last" />
                                    <hr class="section-divider">
                                    <h3>Edit Profile Picture</h3>
                                    <input type="file" name="media" accept="image/gif, image/jpeg, image/jpg, image/png" class="file-input js-tooltip" id="imgInp">
                                    <input type="hidden" value="{{user.username}}" name="user_id"/>
                                </div>
                            </div>
                            <div class="secondary-info">
                                <div class="flex"><span>Username: </span><input type="text" value="{{user.username}}" name="username"/></div>
                                <div class="flex"><span>Email: </span><input type="email" value="{{user.email}}" name="email"/></div>
                            </div>
                        </div>
                        <div>
                            <p>Bio: <input type="text" value="{{profile.bio}}" name="bio"/></p>
                            <p>Location: <input type="text" value="{{profile.livesin}}" name="livesin"/></p>
                            <button id="settings-submit" type="submit"  value="Submit">Submit</button>
                        </div>
                    </div>
                </form>
            <div class="delete-reset">
                <p><a href=/password-reset/>Click to change password.</a></p>
                <p><a href=/delete/>Click here to delete your account.</a></p>
            </div>
        </div>
    </div>
</body>
</html>