<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% include 'head.html' %}
<head>
	<title>New Post</title>
</head>
<body>
	{% include 'nav.html' %}
	<form method="post" action="/newpostsubmit/" name="newpost" enctype="multipart/form-data">
		<div class="gridContainer newpost flex">
			<div class="picture">
				<div class="preview" id="newphoto" style="background-image: url({% static "img/image-placeholder.png" %});">
					<div class="overlay" style="background-image: url({% static "img/post-overlay.png" %})"></div>
					<div class="overlay">
						<input id="title" name="title" type="text" placeholder="Add New Title">
						<span id="date">{% now "F jS, Y" %}</span>
					</div>
				</div>
				<div class="tags">
					<label for="tags">Tags: </label><input name="tags" type="text">
				</div>
				<div class="upload">
					<input type="file" name="media" accept="image/gif, image/jpeg, image/jpg, image/png" class="file-input js-tooltip" id="imgInp">
				</div>
				<div class="lower-buttons flex">
					<div class="upload-button">
						<a href id="upload-button">
							<i class="fa fa-upload"></i>
						</a>
					</div>
					<div class="tag">
						<a href id="tag">
							<i class="fa fa-tag"></i>
						</a>
					</div>
					<div class="delete">
						<a href>
							<i class="fa fa-trash-o"></i>
						</a>
					</div>
				</div>
				<div class="preview location map" id="location-preview" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center={{memory.location}}&zoom=10&size=400x400&key=AIzaSyBT_8Pt--iQ8S1z5cYol9cNbrsnA8Sirys');">
					<div class="location-overlay">
						<input id="location-input" name="location" type="text" placeholder="&#xf041; Add a Location" autocomplete="off">
					</div>
				</div>
				<div class="post-settings">
					<input type="checkbox" value="private"><span>Private Post</span>
				</div>
				<div class="lower-buttons flex">
					<div>
						<a href id="post-settings-button">
							<i class="fa fa-cogs"></i>
						</a>
					</div>
					<div class="send-memory">
						<button id="send">
							<i class="fa fa-paper-plane"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="edit-area">
				<textarea cols="30" rows="20" id="note_text" name="note_text" placeholder="Today was amazing..."></textarea>
			</div>
		</div>
	</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static "js/googlemaps.js" %}"></script>
	<script>
		$(function() {
			$('#tag').click(function(event) {
				event.preventDefault();
				$('.tags').slideToggle();
			});
			$('#upload-button').click(function(event) {
				event.preventDefault();
				$('.upload').slideToggle();
			});
			$('#post-settings-button').click(function(event) {
				event.preventDefault();
				$('.post-settings').slideToggle();
			});
			$('#location-input').blur(function(event) {
				$('#location-preview').css('background-image', "url('https://maps.googleapis.com/maps/api/staticmap?center=" + $('#location-input').val() + "&zoom=10&size=400x400&key=AIzaSyBT_8Pt--iQ8S1z5cYol9cNbrsnA8Sirys')");
				var url = $('#location-preview').css("background-image");
		        // Chrome automatically injects a " at the end of a url in a background-image
		        // value. We compensate by checking if that extra " was injected or not, and
		        // if not, then we add one in
		        if (url.charAt(url.length-2) !== '"') {
		            var revisedurl = url.substring(0,4) + '"' + url.substring(4, url.length - 1) + '&' + get_static_style(styles) + '")';
		        }
		        else {
		            var revisedurl = url.substring(0, url.length - 2) + '&' + get_static_style(styles) + '")';
		        }
		        if (revisedurl.charAt(5) === '"') {
		            revisedurl = revisedurl.substring(0,5) + revisedurl.substring(6,revisedurl.length);
		        }
				$('#location-preview').css("background-image", revisedurl);
			});
		});
	</script>
	<script>
		function readURL(input) {
	    	if (input.files && input.files[0]) {
	        	var reader = new FileReader();
	        	reader.onload = function (e) {
	            	$('#newphoto').css('background-image', "url(" + e.target.result + ")");
	        	}
	        	reader.readAsDataURL(input.files[0]);
	    	}
	    	else {
	    		var img = input.value;
	    			$('#newphoto').css('background-image', img);
	    	}
		}
		$("#imgInp").change(function(){
		    	readURL(this);   	
			});
	
		function clearFileInput(id) { 
			var control = $("#imgInp");
			control.replaceWith( control = control.clone( true ) );
		};
		$("#trash").click(function() {
			clearFileInput("imgInp");
			$('#newphoto').attr('src', "{% static "img/transparent.png" %}");
		});
	</script>
</body>
</html>