<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% include 'head.html' %}
<head>
	<title>{{username}}'s Timeline</title>
	<style>
	.map > div:first-child {
		width: 100%;
		height: 220px;
	}
	</style>
	<script>
		$('.memory').lazyload();
	</script>
</head>

<body>
	{% include 'nav.html' %}
		<!-- div to hold all elements of a single timeline post -->
	<div class="gridContainer flex">
		<div class="main">
		{% for memory in memories reversed %}
			<div class="memory">
				<div class="author-info">
					<a href=/profile-mod/>
						<img src="{% static "img/matthew.jpg" %}" class="author-image">
						<p class="author-name">Author</p>
					</a>
				</div>
				<div class="post flex">
					<a href=/post/{{memory.id}}>
					<div class="panorama" style="background-image: url({% static "img/panorama.jpg"%})">
						<div class="overlay">
							<p>{{memory.description}}</p>
						</div>
						<div class="title flex">
							<h2>{{memory.name}}</h2><h2>{{memory.date_created}}</h2>
						</div>
					</div>
					</a>
					<div class="map">
						<div id="map-{{memory.id}}"></div>
						<div class="location">
							<h2><i class="fa fa-globe"></i>{{memory.location}}</h2>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</body>
</html>